.addOrderGrid .ant-table {
    font-size: 16px;
}
.rowClassName {
    font-size: 14px;
}
.totalAmountClass p {
    font-size: 14px;
    margin:14px 10px;
    font-weight: bold;
}
.remarkClass {
    margin-top: 20px;
}