.addStorage {
    font-size: 16px;
}

.storageWrapper {
    padding: 20px 25px;
    background-color: #fff;
}

.buttonGroup {
    margin: 30px 0 100px;

}

.confirmButton,
.cancelButton {
    width: 200px;
    height: 40px;
    line-height: 30px;
    font-size: 16px
}

.confirmButton {
    margin-right: 20px;
}

.cancelButton {
    bstorage: solid 1px #979797;
}
