
.normal {
    margin-top: 3em;
    text-align: center;
    padding-top: 150px;
}

.title {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
}

.welcome {
    height: 328px;
    background: url(../../assets/yay.jpg) no-repeat center 0;
    background-size: 388px 328px;
    margin-top: 50px;
}

.list {
    font-size: 1.2em;
    margin-top: 1.8em;
    list-style: none;
    line-height: 1.5em;
}

.list code {
    background: #f7f7f7;
}
