.header {
    position: fixed;
    top: 0;
    left:0 ;
    bottom: 0;
    width:300px;
    background: #656565;
}
.menuList  {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menuItem {
    text-align: center;
    height: 98px;
    line-height: 98px;
}
.menuItem a,
.menuItem a:hover {
    color: #fff;
}
.activeItem {
    composes: menuItem;
    background-color: rgba(215, 215, 215, 0.24);
}