.resourceContainer {
    padding: 20px 25px 100px;
    background: #fff;
}

.search {
    margin-bottom: 20px;
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.settlementButton {
    display: inline-block;
}