.addOrderGrid .ant-table {
    font-size: 16px;
}

.rowClassName {
    font-size: 14px;
}

.totalAmountClass > div {
    font-size: 14px;
    margin: 14px 10px;
    font-weight: bold;
}

.paymentAmountClass {
    display: inline-block;
    min-width: 100px;
}

.remarkClass {
    margin-top: 20px;
}