
:global {
  html, body, #root {
    height: 100%;
    font-size: 16px;
    font-family: "Microsoft YaHei", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", SimSun, sans-serif;
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-form-item-label label {
    font-size: 14px;
  }
  .ant-table-bordered.ant-table-small .ant-table-footer {
    background: #fff;
    border-right: 1px solid #e9e9e9 !important;
    border-top: 2px solid #e9e9e9 !important;
    text-align: right;
  }
}
